@import 'https://fonts.googleapis.com/css?family=Raleway';

.logo {
  height: 16vmin;
  pointer-events: none;
}

.icon {
  height: 6vmin;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.App .container {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

div.menu {
  font-family: Raleway;
  display: flex;
}

div.menu a {
  color: #fff;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.menu a.selected {
  color: #f44336;
}

/* Top and Bottom borders go out */
div.menu a:before,
div.menu a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  transition: all 0.3s;
}

div.menu a:before {
  top: 0px;
  transform: translateY(10px);
}

div.menu a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

div.menu a:hover:before,
div.menu a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

div.mobile {
  margin: 0 1rem;
  display: none;
}

@media screen and (max-width: 800px) {
  div.menu a {
    font: 16px Raleway;
  }
  div.menu {
    display: flex;
  }
  div.mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  div.menu a {
    font: 14px Raleway;
  }
  div.menu {
    display: none;
  }
  div.mobile {
    display: flex;
  }
}

/* FOOTER */
footer {
  background-color: #26272b;
  padding: 45px 20px 20px 20px;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
footer hr.small {
  margin: 20px 0;
}
footer ul {
  margin: 0;
  list-style: none;
}
footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 2px;
}
footer a {
  color: #737373;
}
footer a:hover {
  color: #f44336; /*#3366cc; */
  text-decoration: none;
}
footer p > a {
  margin: 0 4px;
}

footer .theend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer .socialcons {
  display: flex;
  margin: 20px 20px;
}
footer .socialcons a {
  color: #818a91;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;

  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

footer .socialcons a:active,
footer .socialcons a:focus,
footer .socialcons a:hover {
  color: #fff;
  background-color: #29aafe;
}
footer .socialcons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
footer .socialcons a.facebook:hover {
  background-color: #3b5998;
}
footer .socialcons a.twitter:hover {
  background-color: #00aced;
}
footer .socialcons a.linkedin:hover {
  background-color: #007bb6;
}
footer .socialcons a.dribbble:hover {
  background-color: #ea4c89;
}
footer .socialcons a.instagram:hover {
  background-color: #ed4a54;
}

footer .footlinks {
  padding-left: 0;
  list-style: none;
  margin-bottom: 20px;
}
footer .footlinks li {
  display: block;
}
footer .footlinks a {
  color: #737373;
  text-decoration: none;
}
footer .footlinks a:active,
footer .footlinks a:focus,
footer .footlinks a:hover {
  color: #f44336;
  text-decoration: none;
}
footer .footlinks.inline li {
  display: inline-block;
}

footer .fbody {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .links,
footer .fform {
  display: flex;
  flex-direction: column;
}

footer .fform {
  min-width: 60%;
  margin-bottom: 20px;
}

footer .fform input {
  max-width: 250px;
}

@media (max-width: 767px) {
  footer .theend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
